Source: haskell-equ
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Miguel Pagano <miguel.pagano@gmail.com>
Build-Depends: debhelper (>= 7)
  , cdbs
  , haskell-devscripts (>= 0.8)
  , ghc
  , libghc-mtl-dev
  , libghc-either-dev
  , libghc-cereal-dev
  , libghc-text-dev
  , libghc-transformers-dev
  , libghc-parsec3-dev
  , libghc-quickcheck2-dev
  , libghc-ordered-dev
  , libghc-test-framework-dev
Standards-Version: 3.9.3
Homepage: http://hackage.haskell.org/package/hbro
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/hbro
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/hbro

Package: libghc-equ-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends} 
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: A proof checker for propositional calculus.
   equ is a program for checking derivations of propositional calculus.
  .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.

